/*Note: CSS are applied from top to bottom - First in last out*/
/*Method 1: External CSS Part 3*/
.external-css {
    color: #038C7F; /*teal text color*/
    background-color: #01403A; /*dark teal background color*/
}

/*resseting some defaultt styles using multiple selectors separted by commas*/
body, h1, h2, p, ul, li, a {
    margin: 0; /*removing default margin*/
    padding: 0; /*removing default padding */
    font-family: Arial, Helvetica, sans-serif; /*setting the default font*/
}

/*HTML element selector*/
body {
    background-color: #012626; /*dark teal BG color*/
}

h1 {
    color: #038C7F;
    font-size: 2em; /* double font size */
    margin-bottom: 1em; /* adds space below heading*/
}

h2 {
    font-size: 1.5em;
    color: #027368;
}

/* stlying the paragraph */
p {
    font-size: 16px; /*default text size*/
    color: #7f8c8d;
    margin-bottom: 12px;
}

/*style a link in a paragraph*/

p a {
    color: #f39c12;
    text-decoration: none; /* removes underline */
}

/* styling the unorded list (CSS IS ALOT)*/
ul {
    list-style-type: none; /*removes bullet points*/
    margin-left: 20px; /*indent*/
    margin-bottom: 12px;
}

ul li {
    margin-bottom: 5 px;
    color: #7f8c8d;
}

/* stylin the unorderd list within a div */
div ul {
    list-style-type: square; /* adding bullet points back */
}

/*Geneeral styling usin class*/
.feature-card {
    border: 2px solid #7f8c8d;
    padding: 20px; /*Adding some space inside the card*/
    margin: 20px; /*adding some space outside the card*/
    background-color: #f9f9f9;
}

/*styling h3 within a class*/
.feature-card h3 {
    font-size: 20px; /*default font size*/
    margin-bottom: 10px;
    color: #2c3e50;
}

/*styling p within a class*/
.feature-card p {
    margin-bottom: 10px; /*adding space below paragrapgh*/
    color: #7f8c8d;
}

/*specifci styling using an ID*/
#special-feature {
    background-color: #fde3a7;
    border-color: #f39c12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* adds a shadow | first 3 values relate to Red Green Blue and the forth (a) is brightness*/
}

/*styling the link in its normal state*/
a {
    display: inline-block; /*the link is now a block element*/
    color: #3498db;
    text-decoration: none; /*removes underline*/
    padding: 5px 10px; /*adds space inside the link*/
    border: 1px solid #3498db;
    transition: all 0.3 ease; /*adds transition*/
}

/*conditonal styling for the hover state*/
a:hover {
    background-color: #3498db;
    color: #FFFFFF;
}

/*styling the button*/
button {
    padding: 5px 10 px; /*adds space within the button*/
    border: none; /*removes border*/
    background-color: #ecf0f1;
    cursor: pointer; /*changes cursor to pointer*/
    transition: all 0.3 ease;
}

/*condtional styling for the hover state*/
button:hover {
    background-color: red;
}